<div id="header" ng-controller="NewModalCtrl">
	<a href="/#/"><img id="logo" src="../img/logo.svg" onerror="this.onerror=null; this.src='../img/logo.png'" title="Home"></a>
	<img id="add-expense" src="../img/plus.svg" onerror="this.onerror=null;this.src='../img/plus.png'" ng-click="newExpense()" title="Add expense">
	<img id="select-timespan" src="../img/calendar.svg" onerror="this.onerror=null;this.src='../img/calendar.png'" ng-click="selectTimeSpan()" title="Select period of time">
</div>

<div id="head">
	<div id="currentDate"> {{ $root.currentDate }} </div>
	<div id="timeSpan" ng-show="$root.timeSpan.start !== null"> {{ $root.timeSpan.start }} - {{ $root.timeSpan.end }} </div>
	<div id="total"> {{ total }} RON </div>
</div>

<div id="categories">
	<div class="category" ng-repeat="category in $root.categories | orderObjectBy : 'total' : true">
		<a href="/#/category/{{ category.id }}">
			<div class="categoryName"> {{ category.name }} </div>
			<div class="barContainer"> 
				<div class="categoryBar" style="background: {{ category.color }}; width: {{ ((category.total / maxTotal) * 100) }}%;">
					<div class="total inside" ng-show="(category.total / maxTotal) * 100 > 25">{{ category.total }} RON</div>
				</div>
				<div class="total outside" ng-show="(category.total / maxTotal) * 100 < 25">{{ category.total }} RON</div>
			</div>
		</a>
        <div class="clear"></div>
	</div>

    <div ng-controller="NewModalCtrl">
        <button id="add-category" ng-click="newCategory()" title="Add category"> Add category </button>
    </div>
</div>


