<div id="header" ng-controller="NewModalCtrl">
	<a href="/#/"><img id="logo" src="../img/logo.svg" onerror="this.onerror=null; this.src='../img/logo.png'" title="Home"></a>
	<img id="add-expense" src="../img/plus.svg" onerror="this.onerror=null;this.src='../img/plus.png'" ng-click="newExpense()" title="Add expense">
    <img id="select-timespan" src="../img/calendar.svg" onerror="this.onerror=null;this.src='../img/calendar.png'" ng-click="selectTimeSpan()" title="Select period of time">
</div>

<div id="content">
	<div id="head" class="expense-head" style="background: {{ $root.categories[categoryId].color }};">
		<div id="currentDate"> {{ $root.currentDate }} </div>
        <div id="timeSpan" ng-if="$root.timeSpan.start !== null && ($root.timeSpan.start.getTime() === $root.timeSpan.end.getTime())">{{$root.formatDate($root.timeSpan.start)}}</div>
	<div id="timeSpan" ng-if="$root.timeSpan.start !== null && ($root.timeSpan.start.getTime() !== $root.timeSpan.end.getTime())"> {{ $root.formatDate($root.timeSpan.start) }} – {{ $root.formatDate($root.timeSpan.end) }} </div>

		<div id="name"> {{ $root.categories[categoryId].name }} </div>
		<div id="total"> {{ $root.categories[categoryId].total }} RON </div>
	</div>

	<div id="expenses">
		<div class="expense" ng-repeat="expense in expenses | filterObjectByDate : $root.timeSpan.start : $root.timeSpan.end | filterObject: { category : categoryId }">
			<div class="expenseName"> {{ expense.name }} </div>
			<div class="expenseSum"> {{ expense.sum }} RON </div>
			<hr>
		</div>
	</div>
</div>
