<!DOCTYPE html>
<html>
	<head>


		<link type="text/css" rel="stylesheet" href="style.css"/>
		<title> One Expense</title>
	<div  id="header">
		    <div id="logo"> <a href="index.html" id="log">One Expanse</a> </div>
    		<div id="addExpanse" ng-click="open()">	<a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'" id="plus">+</a>	</div>
	</div>
	</head>
	
	<body>
	<br>
	<br>
	<br>
    <div id="light" class="white_content">
    	<div class="dropdown">
		<a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'"> <p>ok</p></a>

    	</div>
    </div>
    <div id="fade" class="black_overlay">
    	
    </div>
    	</body>
    <p style="text-align:left; text-indent:1%;">January 12</p>
    <p style="text-align:center; font-size:30px; font-family:comic sans ms;">1814.87$</p>
</html>


