<div class="container-fluid">
	<div class="modal-body">
		<div class="row">
			<div class="col-xs-4 label">Start date: </div>
			<input class="col-xs-8" readonly="true" ng-model="time.start" datepicker-popup="dd.MM.yyyy" show-button-bar="false" show-weeks="false"/>
		</div>
		<div class="row">
			<div class="col-xs-4 label">End date: </div>
			<input class="col-xs-8" readonly="true" ng-model="time.end" datepicker-popup="dd.MM.yyyy" min="time.start" show-button-bar="false" show-weeks="false" ng-disabled="time.start === undefined"/>
		</div>
		<div class="alerts row">
		<alert class="alert col-xs-12" ng-repeat="alert in alerts" type="alert.type">{{ alert.message }}</alert>
		</div>
	</div>
	<div class="modal-footer row">
		<button id="ok" class="col-xs-4" ng-click="ok()"> OK </button>
		<button id="all" class="col-xs-4" ng-click="all()"> All time </button>
		<button id="cancel" class="col-xs-4" ng-click="cancel()"> Cancel </button>
	</div>
</div>
