*{
	margin:0;
	padding:0;
}

#header #logo {
 float: left;
 width: 100px;
 height: 50px;
 margin-top: 5px;
 margin-right: auto;
 margin-left: 5px;
 background: #999;
   display: inline;
}

#header #addExpanse {
 float: right;
 width: 35px;
 height: 35px;
 margin-top: 12px;
 margin-right: 12px;
 margin-left: auto;
   display: inline;
}

#header
{
	 display: block;
 height: 60px;
width: 100%;
 background: #F00;
 content: 
 box-shadow: 0 1px 2px 1px #AAA;
 position: fixed;
}

.black_overlay{
        display: none;
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index:1001;
        -moz-opacity: 0.8;
        opacity:.80;
        filter: alpha(opacity=80);
    }

.white_content {
    display: none;
    position: absolute;
    top: 20%;
    left:50%;
    right:50%;
    width: 80%;
    height: 60%;
    border:none;
    background-color: white;
    z-index:1002;
    overflow: auto;
    }


.dropdown select {

      border: 5px !important;  /*Removes border*/
      /*-webkit-appearance: none;  /*Removes default chrome and safari style*/
      -moz-appearance: none; /* Removes Default Firefox style*//*
      background: url('dropdown_arrow.png') no-repeat;  /*Adds background-image*/
      background-position: 82px 7px;  /*Position of the background-image*/
      width: 80%; /*Width of select dropdown to give space for arrow image*/
      text-indent: 0.01px; /* Removes default arrow from firefox*/
      text-overflow: "";  /*Removes default arrow from firefox*/

      /*My custom style for fonts*/

      color: #1455a2;
}

div div p{
  font-size: 50px;
  font-weight: bolder;
  display: bottom;
}

a{
  text-decoration: none;
  color:black;
}

#plus{
    text-decoration: none;
    color:black;
    text-align: center;
    font-size: 35px;
    font-weight: bolder;
}

#log{
    text-decoration: none;
    color:black;
    font-size: 15px;
    font-family: cursive;
    text-transform: 
}