@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Light.ttf);
}

.clear {
    clear: both;
}

/* --- Header (BAR) --- */
body {
	background-color: #eee !important;
    font-family: 'Roboto' 'Glyphicons Halflings';
    font-size: 20px;
}

#header {
	display: block;

	width: 100%;
	height: 60px;

	background: #9b0000;
}

#header #logo {
	float: left;
	height: 50px;

	margin: 5px;
	margin-right: auto;

    cursor: pointer;
}

#header #add-expense {
	float: right;
	height: 35px;

	margin: 12.5px;

	cursor: pointer;
}

#header #select-timespan {
	float: right;
	height: 35px;

	margin: 12.5px;

	cursor: pointer;
}

#add-category {
    float: right;
    height: 30px;
	border: 0;

	color: #fff;
	background: #9b0000;
    border: none;
    line-height: 30px;

    margin-top: 30px;
}

#add-category:active {
	background: #7f0000;
}

#add-category:hover {
	background: #7f0000;
}

/* --- Content --- */
.expense-head {
    color: white;
}

#head {
	display: block;
	padding: 10px;
}

#head #currentDate {
	display: block;
    font-size: 1em;
}

#head #name {
	display: block;

	text-align: center;
	font-size: 2em;
}

#head #total {
	display: block;

	text-align: center;
	font-size: 2.25em;
}

/* --- Content - Categories --- */
#categories {
	display: block;
    margin-right: 20px;
    margin-left: 20px;

}

#categories .category:first-child {
    margin-top: 5px;
}

#categories .category {
    margin-top: 15px;
}

#categories .category a {
	color: #333;
	text-decoration: none;
}

#categories .categoryName {
	display: block;
}

#categories .barContainer {
	width: 100%;
}

#categories .categoryBar {
	float: left;
	display: inline-block;

	min-width: 0.5em;

	height: 30px;
	line-height: 30px;

	text-align: right;
}

#categories .category .total {
	display: inline-block;
}

#categories .category .total.inside {
	color: #fff;
	margin-right: 0.2em;
}

#categories .category .total.outside {
	height: 100%;
	margin-left: 0.2em;

	color: #333;
}

/* --- Content - Expenses --- */
#expenses {
	display: block;
	margin: 1em 1.5em;

	font-size: 1.2em;
}

#expenses .expense {
	margin-top: 0.5em;
}

#expenses .expense hr {
	margin: 0.3em 0;
	border: 0;
	height: 1px;
	background: #333;
	background-image: -webkit-linear-gradient(left, #ddd, #999, #ddd);
	background-image: -moz-linear-gradient(left, #ddd, #999, #ddd);
	background-image: -ms-linear-gradient(left, #ddd, #999, #ddd);
	background-image: -o-linear-gradient(left, #ddd, #999, #ddd);
}

#expenses .expense:last-child hr {
	margin: 0;
	border: 0;
	height: 0px;
}

/* --- Add Modal --- */

.add-modal {
}

.add-modal .modal-footer {
	margin-top: 0 !important;
	padding: 0 !important;

	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}

.add-modal ul.color-chooser {
    position: relative;
	margin-top: 0.5em;
	list-style-type: none;
}

.add-modal .color {
	display: inline-block;
	width: 1.2em;
	height: 1.2em;

	margin: 0.5em 0.2em 0 0.2em;

	border: 1px solid #aaa;
	border-radius: 5px;
}

.add-modal .color.selected {
	border: 3px solid #444;
}

.add-modal .label {
	height: 2em;
    line-height: 2em;
	padding-left: 0;

    text-align: left;

	color: #333;

	font-size: 1em;
	font-weight: normal;
}

.add-modal .alerts .alert {
	margin: 0.5em 0 0 0;
	padding: 0.5em 1em;
}

.add-modal .alerts .alert:first-child {
	margin-top: 1.5em;
}

.add-modal input {
	border: 1px solid #CCC;
	margin-top: 0.2em;

	background: rgba(0, 0, 0, 0);

	font-size: 1em;
    height: 2em;
}

.add-modal .input-label {
	border: 1px solid #CCC;
	margin-top: 0.2em;

	background: rgba(0, 0, 0, 0);

	font-size: 1em;
    height: 2em;
}

.add-modal input:first-child {
	margin-top: 0;
}

.add-modal select {
	margin-top: 0.2em;

    height: 2em;
    font-size: 1em;
}

.add-modal .modal-footer {
	background: #9b0000;
}

.add-modal .modal-footer button {
	border: 0;
	height: 3em;

	color: #fff;
	background: #9b0000;
}

.add-modal .modal-footer button:active {
	background: #7f0000;
}

.add-modal .modal-footer button:hover {
	background: #7f0000;
}

.add-modal .modal-footer #ok {
	border-bottom-left-radius: 0.25em;
}

.add-modal .modal-footer #cancel {
	border-bottom-right-radius: 0.25em;
}

.add-modal .modal-footer #all {
	width: 33.3%;
}

.add-modal .modal-footer .dropdown-menu {
	padding: 0.5em;
}