#header {
	display: block;

	width: 100%;
	height: 50px;

	background: #F00;

	box-shadow: 0 1px 5px 1px #000;
}

#header #logo {
	float: left;
	width: 80px;
	height: 40px;

	margin: 5px;
	margin-right: auto;
}

#header #addCategory {
	float: right;
	width: 30px;
	height: 30px;

	margin: 10px;
	margin-left: auto;

	background: #CCC;
}

#content {
	display: block;
	margin: 10px 10px 20px 10px;
}

#content #currentDate {
	display: block;
}

#content #total {
	display: block;

	text-align: center;
	font-size: 36px;
}

#categories {
	display: block;
	margin: 0 15px;
}

#categories .category {
	margin-top: 5px;
}

#categories .categoryName {
	display: block;
}

#categories .barContainer {
	height: 20px;
	width: 100%;

	background: #EEE;
	color: #fff;
	font-size: 12px;
	text-align: center;
}

#categories .categoryBar {
	float: left;
	height: 20px;
	width: 60%;

	color: #fff;
	font-size: 12px;
	text-align: center;
	line-height: 20px;
}

/* --- Add Category Modal --- */
.modal-dialog {
	margin-top: 100px !important;
}

#cat-modal-body {
	padding: 10px;
	padding-bottom: 0;
}

#cat-modal-footer {
	padding: 10px;
}

#cat-modal-name {
	width: 100%;
	font-size: 16px;
}