
/* --- Header (BAR) --- */
#header {
	display: block;

	width: 100%;
	height: 4em;

	background: #9b0000;

	box-shadow: 0 1px 5px 1px #000;
}

#header #logo {
	float: left;
	width: 6em;
	height: 3em;

	margin: 0.5em;
	margin-right: auto;
}

#header #addCategory {
	float: right;
	width: 2em;
	height: 2em;

	margin: 1em;
	margin-left: auto;
}

/* --- Content --- */
#content {
	display: block;
	margin: 1em;
	margin-bottom: 2em;
}

/* --- Content - Categories --- */
#content #currentDate {
	display: block;
}

#content #total {
	display: block;

	text-align: center;
	font-size: 2.5em;
}

#categories {
	display: block;
	margin: 0 1em;
}

#categories .category {
	margin-top: 0.5em;
}

#categories .categoryName {
	display: block;
}

#categories .barContainer {
	width: 100%;
	height: 1.2em;

	background: #eee;
}

#categories .categoryBar {
	float: left;
	width: 60%;
	height: 1.2em;

	color: #fff;
	line-height: 1.2em;
	text-align: center;
}

/* --- Add Category Modal --- */
#cat-modal .modal-footer {
	margin-top: 0;
	padding: 0;

	border-bottom-left-radius: 0.2em;
	border-bottom-right-radius: 0.2em;
}

#cat-modal .modal-body {
	margin: 0;
	padding: 10px 5px;
}

#cat-modal-name {
	border: 0;

	background: rgba(0, 0, 0, 0);

	text-align: center;
	font-size: 2em;
}

#cat-modal button {
	border: 0;
	height: 3em;

	color: #fff;
}

#cat-modal button {
	background: #9b0000;
}

#cat-modal button:active {
	background: #7f0000;
}

#cat-modal-ok {
	border-bottom-left-radius: 0.2em;
}

#cat-modal-cancel {
	border-bottom-right-radius: 0.2em;
}